@font-face {
  font-family: JFRocOut;
  src: url(./fonts/JFRocOut.ttf);
}

@font-face {
  font-family: KubosOrigami-YdXq;
  src: url(./fonts/KubosOrigami-YdXq.ttf);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./rpsbg.jpg");
  margin: 50px;
}

.title {
  padding: 0px 40px;
  display: flex;
  flex: auto;
  justify-content: center;
  background-color: white;
}

.rock {
  font-family: JFRocOut;
}

.paper {
  font-family: KubosOrigami-YdXq;
}

.scissors {

}

h1 {
  font-size: 60px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 20px white;
}

button {
  font-size: 30px;
}

.score {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  text-shadow: 1px 1px 20px white;
  margin: 20px;
}

.readOut {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  text-shadow: 1px 1px 20px white;
  margin: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  gap: 50px;
}

.playAgain {
  margin-top: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  visibility: hidden;
}

.question {
  font-size: 50px;
  font-weight: bolder;
  color: black;
  text-shadow: 1px 1px 20px white;
}

.yesNoButtons {
  display: flex;
  gap: 50px;
}
